.head-container {
  position: relative;
  display: flex;
  height: 6vh;
  background-color: #3454bd;
  color: white;
  justify-content: center;
  align-items: center; /* Ensure items are vertically centered */
}

.workspace-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 6vh;
  background-color: white;
  color: #afafaf;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 72vh;
    background-color: white;
}

.thirds-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 72vh;
    width: 33%;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 20px;
    background-color: #654999;
    color: white;
}

.ads-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: black 2px solid;
    background-color: #654999;
    color: white;
}

.head-title {
  position: absolute;
  align-self: center;
  flex-grow: 1; /* Allows the title to take up remaining space */
  text-align: center; /* Center text within the container */
}

.home-btn {
  justify-content: flex-end;
  margin-left: auto; /* Push the button to the right */
  margin-right: 10px; /* Add some space between the button and the edge */
  background-color: transparent;
  border: none; /* Remove default button styling */
  padding: 5px; /* Adjust padding as needed */
}